@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.btn_primary{
    background-color: #ff562c;
    color: #fff;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}
.btn_primary:hover{
    background-color: #ef3c0f;
}

.section_title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}
.section_desc{
    text-align: center;
    margin-bottom: 30px;
    padding: 0 200px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: #b0aeae;
}

/* Header Section */
.header{
    width: 100%;
    height: 800px;
    background-image: url('images/donation2.jpg'), linear-gradient( transparent, rgba(0, 0, 0, .8));
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 400px;
}

.head_title{
    color: #fff;
    font-size: 60px;
    text-transform: capitalize;
    text-shadow: 5px 6px 10px rgba(0, 0, 0,0.5);
}
.head_desc{
    color: #fff;
    padding: 20px 100px;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Donate Today */
.donate_today{
    margin: 100px 300px;
}

.donate_content{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 0 100px;
    margin-top: 50px;
}
.donate_amount{
    width: 130px;
    height: 115px;
    background-color: #eeeeee58;
    color: #7b7b7b;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.donate_box{
    display: flex;
    flex-direction: column;
    padding: 0 150px;
    margin-top: 50px;
    align-items: center;
}
.donate_box>input{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    border: none;
    border-bottom: 1px solid #b0aeae;
    padding: 10px 0;
    width: 100%;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.donate_box .btn_primary{
    margin-top: 30px;
    text-align: center;
}

/* Plans */

.plans{
    margin: 100px 300px;
}

.plan_content{
    margin-top: 50px;
    display: flex;
    gap: 20px;
}
.plan_boxes{
    padding: 50px 20px;
    border-radius: 5px;
}
.plan_boxes>h5{
    font-size: 20px;
    margin: 20px 0;
}
.plan_boxes>p{
    font-weight: 400;
    color: #7b7b7bc0;
}